In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv("C:\\Users\\vaish\\OneDrive\\Desktop\\New folder\\covid_toy - covid_toy.csv")

In [16]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [17]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [18]:
df = df.dropna()

In [19]:
df = df.drop(columns = ['city','cough'])

In [20]:
df.head(2)

   age gender  fever has_covid
0   60   Male  103.0        No
1   27   Male  100.0       Yes

In [23]:
df['gender'] = df['gender'].map({'Male':0,'Female':1})
df['has_covid'] = df['has_covid'].map({'NO':0,'Yes':1})

In [24]:
df.head(2)

   age  gender  fever  has_covid
0   60     NaN  103.0        NaN
1   27     NaN  100.0        1.0

In [29]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [32]:
np.round(x_train.describe(),2)

         age  gender   fever
count  72.00     0.0   72.00
mean   43.53     NaN  100.74
std    25.30     NaN    2.12
min     5.00     NaN   98.00
25%    19.75     NaN   99.00
50%    47.00     NaN  101.00
75%    65.25     NaN  102.25
max    83.00     NaN  104.00

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
sc = StandardScaler()

In [35]:
x_train_Sc = sc.fit_transform(x_train)

c:\Users\vaish\OneDrive\Desktop\New folder\.venv\Lib\site-packages\sklearn\utils\extmath.py:1207: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Users\vaish\OneDrive\Desktop\New folder\.venv\Lib\site-packages\sklearn\utils\extmath.py:1212: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Users\vaish\OneDrive\Desktop\New folder\.venv\Lib\site-packages\sklearn\utils\extmath.py:1236: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [36]:
x_train_new = pd.DataFrame(x_train_Sc, columns = x_train.columns)

In [37]:
np.round(x_train_new.describe(),2)

         age  gender  fever
count  72.00     0.0  72.00
mean   -0.00     NaN  -0.00
std     1.01     NaN   1.01
min    -1.53     NaN  -1.30
25%    -0.95     NaN  -0.83
50%     0.14     NaN   0.13
75%     0.86     NaN   0.72
max     1.57     NaN   1.55